@keyframes myanimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateX(calc(100vw - 50px));
  }
  50% {
    transform: translate(calc(100vw - 50px), calc(100vh - 50px));
  }
  75% {
    transform: translateX(0) translateY(calc(100vh - 50px));
  }
  100% {
    transform: translate(0, 0);
  }
}
